name: CI for PRs

on:
  pull_request:
    paths:
      - "**/yx_scope/**"
      - "**/.github/**"
      - "!**.md"
    branches:
      - main

jobs:
  ci_checks:
    name: CI Checks
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        # Check the packages against the most recent previous minor version
        flutter-version: [3.38.4, 3.35.7, 3.32.8, 3.29.3, 3.27.3, 3.24.5]
        package:
          - yx_scope/packages/yx_scope
          - yx_scope/packages/yx_scope_flutter

    defaults:
      run:
        working-directory: ${{ matrix.package }}
        shell: bash

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ matrix.flutter-version }}

      - name: Install dependencies
        run: flutter pub get

      - name: Check formatting
        run: dart format --set-exit-if-changed .

      - name: Run linter
        run: flutter analyze

      - name: Run tests
        run: flutter test

  ci_checks_linter:
    name: CI Checks (Linter)
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        # Check the linter against the most recent previous minor version
        dart-version: [3.6.2, 3.7.2, 3.8.1, 3.9.2, 3.10.4]

    defaults:
      run:
        working-directory: yx_scope/packages/yx_scope_linter
        shell: bash

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Dart SDK
        uses: dart-lang/setup-dart@v1
        with:
          dart-version: ${{ matrix.dart-version }}

      - name: Install dependencies
        run: dart pub get

      - name: Check formatting
        run: dart format --set-exit-if-changed .

      - name: Run linter
        run: dart analyze

      - name: Verify custom_lint
        working-directory: yx_scope/packages/yx_scope_linter/example
        run: dart run custom_lint --watch
